.portfolios{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    line-height: 1.6;
    row-gap: 2.5rem;
    max-width: 1000px;
    margin: auto;
    @media screen and (max-width: 1600px){
        // grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (max-width: 900px){
        grid-template-columns: repeat(1, 1fr);
    }

    .portfolio {
        margin: auto;
    }
}

.card {
    color: $clr-light;
    background-size: cover;
    height: 550px;
    max-width: 350px;
    padding-top: 20rem;
    border-radius: 1rem;
    overflow: hidden;

    @media screen and (max-width: 450px) {
        width: 350px;
    }

    .card-content {
        padding: 0.25rem 1rem 1.5rem 1.5rem;
        height: 280px;
        background: rgba(8, 8, 8, 0.7);
    }

    .card-title {
        position: relative;
        width: max-content;
        font-size: 1.5rem;
    }

    .card-title::after {
        content: "";
        position: absolute;
        animation: progress-animation 3s linear infinite;
        height: 4px;
        left: calc(1.5rem * -1);
        bottom: 0;
        width: calc(100% + 1.5rem);
        background: linear-gradient(90deg,#dddddd,#333333 17%,#000000 34%,#727272 
        51%,#dddddd 68%,#333333 85%,#000000);
        background-size: 300% 100%;
        transform-origin: left;
        transition: transform 500ms ease;
    }

    .card-body {
        font-family: $ff-secondary;
        font-size: 1.2rem;
        font-weight: 500;
        padding: .5rem 0 1rem 0;
        margin-bottom: -1.25rem;
    }    

    button {
        font-size: 1rem;
    }

    .card-icon {
        margin-left: 1rem;
        font-size: 35px;
        color: $clr-light;
        
        .icon {
            transform: translateY(12px);
        }
    }
}
  


.card:hover .card-content {
    transform: translateY(-40px);
    transition-delay: 400ms;
    
}





.card:hover .card-title::after, 
.card:focus-within .card-title::after {
    transform: scaleX(1);
}

.card-body {
    font-family: $ff-secondary;
    font-size: 1.2rem;
    font-weight: 500;
    padding: .5rem 0 5rem 0;
}


@media (hover) {
.card-content {
    transform: translateY(65%);
    transition: transform 500ms ease;
}

.card-title::after {
    transform: scaleX(0);
}
}